@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --text: #000000;
    --bg: rgba(255, 255, 255, 1);
    --myBlack: #dfdfdf;
    --myViolet: white;
    --projectBg: white;
  }
  .dark {
    --text: #ffffffde;
    --bg: black;
    --myBlack: #2c2c2c;
    --myViolet: black;
    --projectBg: #1a1a1a;
  }
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--bg);
  }
}


* {
  opacity: 1;
}